/* Dark mode colors. */
:root {
  --sl-color-accent-low: #1e242c;
  --sl-color-accent: #566c85;
  --sl-color-accent-high: #c1c9d3;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceef2;
  --sl-color-gray-2: #c0c2c7;
  --sl-color-gray-3: #888b96;
  --sl-color-gray-4: #545861;
  --sl-color-gray-5: #353841;
  --sl-color-gray-6: #24272f;
  --sl-color-black: #17181c;
  --svg-invert-filter: invert(90%) hue-rotate(180deg);
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-accent-low: #d1d7df;
  --sl-color-accent: #586e87;
  --sl-color-accent-high: #2a333e;
  --sl-color-white: #17181c;
  --sl-color-gray-1: #24272f;
  --sl-color-gray-2: #353841;
  --sl-color-gray-3: #545861;
  --sl-color-gray-4: #888b96;
  --sl-color-gray-5: #c0c2c7;
  --sl-color-gray-6: #eceef2;
  --sl-color-gray-7: #f5f6f8;
  --sl-color-black: #ffffff;

  --svg-invert-filter: none;
}

.site-title img,
.hero img {
  filter: var(--svg-invert-filter);
}

.sl-markdown-content h1 {
  display: none;
}

/* Custom styles for heading anchor links. */
.sl-markdown-content :global(.heading-wrapper) {
  --icon-size: 0.75em;
  --icon-spacing: 0.25em;
  line-height: var(--sl-line-height-headings);
}

/* Set font-size on wrapper element, so line-height, margins etc. match heading size. */
.sl-markdown-content :global(.level-h2) {
  font-size: var(--sl-text-h2);
}
.sl-markdown-content :global(.level-h3) {
  font-size: var(--sl-text-h3);
}
.sl-markdown-content :global(.level-h4) {
  font-size: var(--sl-text-h4);
}
.sl-markdown-content :global(.level-h5) {
  font-size: var(--sl-text-h5);
}

.sl-markdown-content :global(.heading-wrapper > :first-child) {
  margin-inline-end: calc(var(--icon-size) + var(--icon-spacing));
  display: inline;
}

.sl-markdown-content :global(.anchor-link) {
  margin-inline-start: calc(-1 * (var(--icon-size)));
  color: var(--sl-color-gray-3);
}
.sl-markdown-content :global(.anchor-link:hover),
.sl-markdown-content :global(.anchor-link:focus) {
  color: var(--sl-color-text-accent);
}
.sl-markdown-content :global(.heading-wrapper svg) {
  display: inline;
  width: var(--icon-size);
}

@media (hover: hover) {
  .sl-markdown-content :global(.anchor-link) {
    opacity: 0;
  }
}
.sl-markdown-content :global(.heading-wrapper:hover > .anchor-link),
.sl-markdown-content :global(.anchor-link:focus) {
  opacity: 1;
}

/* Float anchor links to the left of headings on larger screens. */
@media (min-width: 95em) {
  .sl-markdown-content :global(.heading-wrapper) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: var(--icon-spacing);
    margin-inline-start: calc(-1 * (var(--icon-size) + var(--icon-spacing)));
  }
  .sl-markdown-content :global(.heading-wrapper > :first-child),
  .sl-markdown-content :global(.anchor-link) {
    margin: 0;
  }
}

.sl-markdown-content table:not(:where(.not-content *)) {
  display: block;
  overflow: auto;
  border-collapse: collapse;
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) > code {
  overflow-wrap: normal;
}
